[[source]]
name = "pypi"
#url = "https://pypi.org/simple"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
pbtc = "*"
pytest = "*"

[packages]
jinja2 = "*"
pdfkit = "*"
protobuf = "*"
grpcio = "*"

[requires]
python_version = "3.8"
